.header {
  display: flex;
  border-bottom: 1px solid #eaeaea;
}

.user {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 10px;
  gap: 0.5rem;
}

.avatar {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background-color: #efefef;
}

.name {
  color: #1e1e1e;
  font-size: 13px;
  font-weight: 600;
}
