.textarea_field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  font-weight: 500;

  textarea {
    padding: 10px;
    border-radius: 5px;
    background: #efefef;
    resize: none;
    text-align: left;
  }
}

.label {
  position: absolute;
  left: 10px;
  color: #999;
}

.focus {
  .label {
    top: -10px;
  }
}
