:root {
  --color-primary: #356bf3;
  --color-on-primary: #fff;
  --color-secondary: #999;
  --color-error: #ff2e2e;
  --color-link: #3369f3;
  --color-input-label: #999;
  --color-input-value: #1f1f1f;
  --font-size: 16px;
  --font-size-input: 13px;
}
