.layout_user {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  display: flex;
  width: 70px;
  height: 100%;
  align-items: center;
  border-right: 1px solid #eaeaea;
  background-color: #fbfbfb;
}
