.input_field {
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 1rem;
  font-size: var(--font-size-input);
}

.fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  border-bottom: 1px solid var(--color-primary);
}

.errors {
  min-height: 20px;
  font-size: 0.8rem;
  opacity: 0;
  transition: all 1s;
  will-change: opacity;
}

.errors_show {
  opacity: 1;
}
