.avatar_profile {
  display: flex;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background-color: #efefef;
  color: #efefef;
}

.avatar_change {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s;
  will-change: opacity;
}

.avatar_profile:hover .avatar_change {
  opacity: 1;
}
